/* MAIN START */
body {
    background: #233142;
    font-family: "Nunito";
    color: #E3E3E3;
}

#main {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1199px) {
    #main {
        margin-left: 0;
    }
}
/* MAIN END */

/* HEADER START */
.layout .header-top {
    background-color: #455D7A;
    padding: 1.1rem;
}

.layout .header-top .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout .header-top .logo img {
    height: 20px;
}
/* HEADER END */


/* ALERT START */
.alert {
    border: none;
}

.alert p {
    margin-bottom: 0;
}


.alert .alert-heading {
    margin-left: 0.4rem;
}

.alert .alert-heading+p {
    margin-left: 0.4rem;
}

.alert-primary {
    background-color: #435ebe;
    color: #fff;
}

.alert-secondary {
    background-color: #ebeef3;
    color: #383d41;
}

.alert-success {
    background-color: #4fbe87;
    color: #fff;
}


.alert-warning {
    background-color: #eaca4a;
    color: #fff;
}


.alert-danger {
    background-color: #f3616d;
    color: #fff;
}


.alert-dark {
    background-color: #454546;
    color: #fff;
}


.alert-light {
    background-color: #f9f9f9;
    color: #818182;
}


.alert-info {
    background-color: #56b6f7;
    color: #fff;
}

.alert-light-primary {
    background-color: #ebf3ff;
}

.alert-light-secondary {
    background-color: #E6EAEE;
}

.alert-light-success {
    background-color: #D2FFE8;
}

.alert-light-danger {
    background-color: #FFDEDE;
}

.alert-light-warning {
    background-color: #fffdd8;
}

.alert-light-info {
    background-color: #e6fdff;
}
/* ALERT END */

/* IMAGE START */
.image {
    display: inline-flex;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.image img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.image.image-sm .image-content,
.image.image-sm img {
    width: 24px;
    height: 24px;
    font-size: 0.8rem;
}

.image.image-md .image-content,
.image.image-md img {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
}

.image.avatar-md2 .avatar-content,
.image.avatar-md2 img {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
}

.image.image-lg .image-content,
.image.image-lg img {
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
}

.image.image-xl .image-content,
.image.image-xl img {
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
}

/* IMAGE END */

/* BUTTON START */
.btn i,
.btn svg {
    width: 16px;
    height: 16px;
}

.btn.icon {
    padding: 0.4rem 0.6rem;
}

.btn.icon svg {
    width: 16px;
    height: 16px;
}

.btn.icon.icon-left svg {
    margin-right: 3px;
}

.btn.icon.icon-right svg {
    margin-left: 3px;
}

.btn.btn-outline-white {
    color: #fff;
    border-color: #fff;
}

.btn.btn-outline-white:hover {
    color: #333;
    background-color: #fff;
}

.btn.btn-light-primary {
    background-color: #ebf3ff;
    color: #002152;
}

.btn.btn-light-secondary {
    background-color: #E6EAEE;
    color: #181e24;
}

.btn.btn-light-success {
    background-color: #D2FFE8;
    color: #00391c;
}

.btn.btn-light-danger {
    background-color: #FFDEDE;
    color: #450000;
}

.btn.btn-light-warning {
    background-color: #fffdd8;
    color: #3f3c00;
}

.btn.btn-light-info {
    background-color: #e6fdff;
    color: #00474d;
}

.btn.btn-primary {
    color: #fff;
}

.btn.btn-secondary {
    color: #fff;
}

.btn.btn-success {
    color: #fff;
}

.btn.btn-info:hover{
    background-color: #fa7272;
    border-color: #fa6a6a;
}
.btn.btn-info {
    color: #fff;
    background-color: #F95959;
    border-color: #F95959;
}

.btn.btn-warning {
    color: #fff;
}

.btn.btn-danger {
    color: #fff;
}

.btn.btn-light {
    color: #E3E3E3;
}

.btn.btn-dark {
    color: #fff;
}

.btn-block {
    width: 100%;
}

.btn-group:not(.dropdown) .btn:not([class*=btn-]) {
    border: 1px solid #DFE3E7;
}

.btn-group>.btn {
    border-radius: 0.267rem;
}

.buttons .btn {
    margin: 0 10px 10px 0;
}

/* BUTTON END */

/* CARD START */
.card {
    margin-bottom: 2.2rem;
    border: none;
    background-color: #455D7A;
    border-radius: 0.7rem !important;
}

.card .card-header {
    border: none;
    background-color: #455D7A;
    padding: 1.5rem 1.5rem !important;
}
.card-header:first-child {
    border-radius: calc(0.7rem - 1px) calc(0.7rem - 1px) 0 0 !important;
}

.card .card-header h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card .card-header~.card-body {
    padding-top: 0;
}

.card .card-content {
    position: relative;
}

.card .card-title {
    font-size: 1.2rem;
}

.card .card-body {
    padding: 1.5rem 1.5rem;
}

.card .card-heading {
    color: #555;
    font-size: 1.5rem;
}

.card .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.card .card-img-overlay p {
    color: #eee;
}

.card .card-img-overlay .card-title {
    color: #fff;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-group label {
    color: rgba(35, 28, 99, 0.7);
    font-weight: 600;
}

.form-group small {
    font-size: 0.7rem;
}

.form-group.with-title {
    position: relative;
}

.form-group.with-title label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 0.6rem;
    background-color: #e9ecef;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group.with-title .form-control,
.form-group.with-title dataTable-input {
    padding-top: 2rem;
}

.form-group.with-title .form-control:focus~label,
.form-group.with-title dataTable-input:focus~label {
    border-left: 1px solid #435ebe;
    border-top: 1px solid #435ebe;
    border-right: 1px solid #435ebe;
}

.form-group[class*=has-icon-].has-icon-left .form-control {
    padding-left: 2.5rem;
}

.form-group[class*=has-icon-].has-icon-left .form-control-icon {
    left: 0;
}

.form-group[class*=has-icon-].has-icon-right .form-control {
    padding-right: 2.5rem;
}

.form-group[class*=has-icon-].has-icon-right .form-control-icon {
    right: 0;
}

.form-group[class*=has-icon-] .form-control:focus~.form-control-icon i,
.form-group[class*=has-icon-] .form-control:focus~.form-control-icon svg {
    color: #5A8DEE;
}

.form-group[class*=has-icon-] .form-control.form-control-xl {
    padding-left: 3rem;
}

.form-group[class*=has-icon-] .form-control.form-control-xl~.form-control-icon i {
    font-size: 1.6rem;
}

.form-group[class*=has-icon-] .form-control.form-control-xl~.form-control-icon i:before {
    color: #a6a8aa;
}

.form-group[class*=has-icon-] .form-control-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.6rem;
}

.form-group[class*=has-icon-] .form-control-icon i,
.form-group[class*=has-icon-] .form-control-icon svg {
    width: 1.2rem;
    color: #adb5bd;
    font-size: 1.2rem;
}

.form-group[class*=has-icon-] .form-control-icon i:before,
.form-group[class*=has-icon-] .form-control-icon svg:before {
    vertical-align: sub;
}

.form-control,
.form-control:focus {
    color: #F95959;
}

.form-control.form-control-xl,
.form-control:focus.form-control-xl {
    padding: 0.85rem 1rem;
    font-size: 1.2rem;
}

.form-check .form-check-input[class*=bg-] {
    border: 0;
}

.form-check .form-check-input:focus {
    box-shadow: none;
}

.form-check .form-check-input.form-check-primary {
    background-color: #435ebe;
    border-color: #435ebe;
}

.form-check .form-check-input.form-check-primary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-primary.form-check-glow {
    box-shadow: 0 0 5px #697ecb;
}

.form-check .form-check-input.form-check-primary.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check .form-check-input.form-check-secondary:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-secondary.form-check-glow {
    box-shadow: 0 0 5px #868e96;
}

.form-check .form-check-input.form-check-secondary.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-success {
    background-color: #198754;
    border-color: #198754;
}

.form-check .form-check-input.form-check-success:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-success.form-check-glow {
    box-shadow: 0 0 5px #21b26f;
}

.form-check .form-check-input.form-check-success.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-info {
    background-color: #F95959;
    border-color: #F95959;
}

.form-check .form-check-input.form-check-info:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-info.form-check-glow {
    box-shadow: 0 0 5px #fb8a8a;
}

.form-check .form-check-input.form-check-info.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-check .form-check-input.form-check-warning:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-warning.form-check-glow {
    box-shadow: 0 0 5px #ffce3a;
}

.form-check .form-check-input.form-check-warning.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check .form-check-input.form-check-danger:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-danger.form-check-glow {
    box-shadow: 0 0 5px #e4606d;
}

.form-check .form-check-input.form-check-danger.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.form-check .form-check-input.form-check-light:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-light.form-check-glow {
    box-shadow: 0 0 5px white;
}

.form-check .form-check-input.form-check-light.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check .form-check-input.form-check-dark {
    background-color: #212529;
    border-color: #212529;
}

.form-check .form-check-input.form-check-dark:not(:checked) {
    background-color: transparent;
    border: 1px solid #ced4da;
}

.form-check .form-check-input.form-check-dark.form-check-glow {
    box-shadow: 0 0 5px #383f45;
}

.form-check .form-check-input.form-check-dark.form-check-glow:not(:checked) {
    box-shadow: none;
}

.form-check.form-check-sm .form-check-input {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: 0.3em;
}

.form-check.form-check-sm label {
    font-size: 0.7rem;
}

.form-check.form-check-lg .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.3em;
}

.form-check.form-check-lg label {
    font-size: 1rem;
}

.form-check.form-check-primary .form-check-input {
    background-color: #435ebe;
    border-color: #435ebe;
}

.form-check.form-check-secondary .form-check-input {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check.form-check-success .form-check-input {
    background-color: #198754;
    border-color: #198754;
}

.form-check.form-check-info .form-check-input {
    background-color: #F95959;
    border-color: #F95959;
}

.form-check.form-check-warning .form-check-input {
    background-color: #ffc107;
    border-color: #ffc107;
}

.form-check.form-check-danger .form-check-input {
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-check.form-check-light .form-check-input {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.form-check.form-check-dark .form-check-input {
    background-color: #212529;
    border-color: #212529;
}

.progress.progress-primary {
    overflow: visible;
}

.progress.progress-primary .progress-bar {
    background-color: #435ebe;
    border-radius: 0.25rem;
}

.progress.progress-secondary {
    overflow: visible;
}

.progress.progress-secondary .progress-bar {
    background-color: #6c757d;
    border-radius: 0.25rem;
}

.progress.progress-success {
    overflow: visible;
}

.progress.progress-success .progress-bar {
    background-color: #198754;
    border-radius: 0.25rem;
}

.progress.progress-info {
    overflow: visible;
}

.progress.progress-info .progress-bar {
    background-color: #F95959;
    border-radius: 0.25rem;
}

.progress.progress-warning {
    overflow: visible;
}

.progress.progress-warning .progress-bar {
    background-color: #ffc107;
    border-radius: 0.25rem;
}

.progress.progress-danger {
    overflow: visible;
}

.progress.progress-danger .progress-bar {
    background-color: #dc3545;
    border-radius: 0.25rem;
}

.progress.progress-light {
    overflow: visible;
}

.progress.progress-light .progress-bar {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.progress.progress-dark {
    overflow: visible;
}

.progress.progress-dark .progress-bar {
    background-color: #212529;
    border-radius: 0.25rem;
}

.progress.progress-sm {
    height: 0.4rem;
}

.progress.progress-lg {
    height: 1.5rem;
}

.progress .progress-bar {
    position: relative;
    overflow: visible;
}

.progress .progress-bar.progress-label:before {
    content: attr(aria-valuenow);
    position: absolute;
    right: 0;
    top: 0rem;
    margin-right: 1rem;
    color: #495057;
    font-size: 0.8rem;
    color: white;
}

.bi {
    width: 1rem;
    height: 1rem;
}

.bi.bi-middle:before {
    vertical-align: middle;
}

.bi.bi-sub:before {
    vertical-align: sub;
}

.stats-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-icon i {
    display: flex;
    width: 100%;
    color: #fff;
    height: 100%;
    font-size: 1.7rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.stats-icon.purple {
    background-color: #9694ff;
}

.stats-icon.blue {
    background-color: #57caeb;
}

.stats-icon.red {
    background-color: #ff7976;
}

.stats-icon.green {
    background-color: #5ddab4;
}

@media (max-width: 767px) {
    .stats-icon {
        float: left;
        margin-bottom: 0.4rem;
    }
}

.mt-10 {
    margin-top: 3rem;
}

.mb-10 {
    margin-bottom: 3rem;
}

.my-10 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mb-24 {
    margin-bottom: 6rem;
}

.my-24 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.opacity-50 {
    opacity: 50%;
}

.py-4-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.text-sm {
    font-size: 0.875rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-6xl {
    font-size: 4rem;
}

.text-black {
    color: #000;
}

.bg-gradient-ltr {
    background: linear-gradient(to right, #095CDE, #53C3F3);
}

.bg-light-primary {
    background-color: #ebf3ff;
    color: #002152;
}

.bg-light-secondary {
    background-color: #E6EAEE;
    color: #181e24;
}

.bg-light-success {
    background-color: #D2FFE8;
    color: #00391c;
}

.bg-light-danger {
    background-color: #FFDEDE;
    color: #450000;
}

.bg-light-warning {
    background-color: #fffdd8;
    color: #3f3c00;
}

.bg-light-info {
    background-color: #e6fdff;
    color: #00474d;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: bold;
}

.font-extrabold {
    font-weight: 800;
}

.text-width-md {
    max-width: 450px;
}

.text-gray-300 {
    color: #dee2e6 !important;
}

.text-gray-400 {
    color: #ced4da !important;
}

.text-gray-500 {
    color: #adb5bd !important;
}

.text-gray-600 {
    color: #6c757d !important;
}

.btn-xl {
    padding: 1rem 2rem;
}

.icon-mid:before {
    vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #E3E3E3;
}
a {
    color: #F95959;
    text-decoration: none;
}

/* Navbar */

.layout .main-navbar{
    background-color:#386ba9;
    padding:1rem
}
.layout .main-navbar ul{
    display:flex;
    gap:2rem;
    list-style:none;
    margin-bottom:0;
    padding:0
}
.layout .main-navbar ul .menu-link{
    align-items:center;
    display:flex;
    flex-direction:row;
    gap:.5rem;
    padding:.4rem 0;
    position:relative
}
.layout .main-navbar ul .menu-link span{
    height:20px
}
.layout .main-navbar ul>.menu-item{
    position:relative
}
.layout .main-navbar ul>.menu-item .menu-link{
    color:#dee2e6
}
.layout .main-navbar ul>.menu-item:hover .menu-link{
    color:#fff
}
@media screen and (max-width:1199px){
    .layout-horizontal .main-navbar{
        background-color:#f5f7fc;
        display:none;
        overflow:hidden;
        padding:1rem
    }
    .layout-horizontal .main-navbar.active{
        max-height:none
    }
    .layout-horizontal .main-navbar ul{
        flex-direction:column;
        gap:0
    }
    .layout-horizontal .main-navbar ul .menu-link{
        color:#6c757d!important;
        padding:1rem 0
    }
}